sphinx == 5.3.0
sphinxcontrib-applehelp >= 1.0.0
sphinxcontrib-devhelp >= 1.0.0
sphinxcontrib-htmlhelp >= 2.0.0
sphinxcontrib-qthelp >= 1.0.0
sphinxcontrib-serializinghtml >= 1.0.0
docutils == 0.19
myst-parser == 0.18.1
sphinx_rtd_theme >= 1.0.0
nbsphinx >= 0.8.8
IPython
jieba
numpy
jupyter_client
ipykernel
